@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.section {
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
}
@media (max-width: 23.4375em) {
  .section {
    gap: 3.5rem;
  }
}
@media (min-width: 48.75em) {
  .section {
    flex-direction: row;
    gap: 8rem;
  }
}
@media (min-width: 67.5em) {
  .section {
    gap: 14rem;
  }
}
.section__banner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 14.375rem;
  padding: 1rem;
  background-image: url("../../assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
@media (max-width: 23.4375em) {
  .section__banner {
    height: 11.25rem;
  }
}
@media (min-width: 48.75em) {
  .section__banner {
    background-image: url("../../assets/images/bg-main-desktop.png");
    height: 100vh;
    width: 30rem;
    flex-direction: column;
  }
}
.section__banner__group {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.section__banner__card-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../../assets/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5rem 1.5rem;
  position: relative;
  height: 10rem;
  top: 0.313rem;
  left: -4.063rem;
  z-index: 1;
  letter-spacing: 0.1rem;
  box-shadow: 0rem 0.625rem 1.875rem hsla(0deg, 0%, 0%, 0.451);
  border-radius: 0.5rem;
}
@media (max-width: 23.4375em) {
  .section__banner__card-1 {
    width: 14.375rem;
    height: 8.375rem;
    padding: 0.5rem 1rem;
    left: 0;
  }
}
@media (min-width: 48.75em) {
  .section__banner__card-1 {
    top: 5.625rem;
    left: 3.75rem;
    height: 10.313rem;
    min-width: 17.5rem;
  }
}
@media (min-width: 67.5em) {
  .section__banner__card-1 {
    top: 3.25rem;
    left: 8.438rem;
    height: 13.75rem;
    min-width: 25rem;
  }
}
.section__banner__card-1__logo {
  background-image: url("../../assets/images/card-logo.svg");
  background-repeat: no-repeat;
  background-size: 3.125rem;
  height: 2.125rem;
}
@media (min-width: 48.75em) {
  .section__banner__card-1__logo {
    background-size: 4.375rem;
    height: 2.688rem;
  }
}
.section__banner__card-1__number {
  margin-top: 1rem;
  font-size: var(--font-md);
  font-weight: 500;
  align-self: center;
}
@media (max-width: 23.4375em) {
  .section__banner__card-1__number {
    font-size: var(--font-sm);
  }
}
@media (min-width: 67.5em) {
  .section__banner__card-1__number {
    font-size: var(--font-xlg);
    margin-bottom: -1rem;
    align-self: start;
  }
}
.section__banner__card-1__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--light-grayish-violet);
  font-size: var(--font-vsm);
  font-weight: 500;
  text-transform: uppercase;
}
.section__banner__card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  background-image: url("../../assets/images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 17.188rem;
  height: 9.375rem;
  padding: 3rem;
  position: relative;
  top: 4.375rem;
  left: 0.313rem;
  letter-spacing: 0.1rem;
}
.section__banner__card-2__cvc {
  font-size: var(--font-vsm);
}
@media (max-width: 23.4375em) {
  .section__banner__card-2 {
    width: 12.125rem;
    height: 6.625rem;
    max-height: 9.563rem;
    padding: 3rem 1.5rem 3rem 1rem;
    top: 2.813rem;
  }
}
@media (min-width: 48.75em) {
  .section__banner__card-2 {
    top: -1.563rem;
    left: 8.125rem;
  }
}
@media (min-width: 67.5em) {
  .section__banner__card-2 {
    top: -3.313rem;
    left: 12.813rem;
    height: 13.438rem;
    width: 24.375rem;
  }
}
.section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.2rem;
  align-self: center;
}
@media (min-width: 48.75em) {
  .section__content {
    justify-content: left;
    width: 21.875rem;
  }
}
.section__content__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
@media (min-width: 48.75em) {
  .section__content__form {
    padding: 0;
  }
}
.section__content__form__error {
  font-size: var(--font-sm);
  font-weight: 500;
  color: var(--error-red);
}
.section__content__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section__content__form-inputs label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: var(--font-vsm);
  letter-spacing: 0.188rem;
  font-weight: bold;
}
.section__content__form-inputs-input {
  width: 100%;
  padding: 0.625rem;
  border: 0.125rem solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  outline: none;
  font-family: var(--font-family);
}
.section__content__form-inputs-input:focus-within {
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, var(--linear-gradient)) border-box;
  border: 0.125rem solid transparent;
}
.section__content__form-inputs-input::-moz-placeholder {
  color: var(--light-grayish-violet);
  font-size: var(--font-md);
}
.section__content__form-inputs-input:-ms-input-placeholder {
  color: var(--light-grayish-violet);
  font-size: var(--font-md);
}
.section__content__form-inputs-input::placeholder {
  color: var(--light-grayish-violet);
  font-size: var(--font-md);
}
@media (max-width: 23.4375em) {
  .section__content__form-inputs-input::-moz-placeholder {
    font-size: var(--font-sm);
  }
  .section__content__form-inputs-input:-ms-input-placeholder {
    font-size: var(--font-sm);
  }
  .section__content__form-inputs-input::placeholder {
    font-size: var(--font-sm);
  }
}
.section__content__form-inputs-error {
  border-color: var(--error-red) !important;
}
.section__content__form-inputs-row {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: space-between;
}
.section__content__form-inputs-row input {
  width: 100%;
}
@media (max-width: 23.4375em) {
  .section__content__form-inputs-row {
    flex-direction: column;
  }
}
.section__content__form-inputs-exp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 10.938rem;
}
.section__content__form-inputs-exp input {
  width: 5rem;
}
.section__content__form button {
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--very-dark-violet);
  padding: 0.8rem;
  color: var(--light-grayish-violet);
  border-radius: 0.5rem;
}
.section__content__thanks {
  display: flex;
  flex-direction: column;
}
.section__content__thanks__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.section__content__thanks__title {
  font-size: var(--font-xxlg);
}
.section__content__thanks__desc {
  font-size: var(--font-md);
  color: var(--dark-grayish-violet);
}
.section__content__thanks__btn {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 500;
  background-color: var(--very-dark-violet);
  margin-top: 1rem;
  padding: 0.8rem;
  color: var(--light-grayish-violet);
  border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-md);
}

.hide {
  display: none;
}

.form-error {
  border-color: var(--error-red);
}

footer {
  position: relative;
}
@media (min-width: 48.75em) {
  footer {
    top: -50px;
    padding-left: 6rem;
  }
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
@media (min-width: 48.75em) {
  footer .attribution {
    text-align: right;
    padding-right: 3rem;
  }
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

:root {
  --linear-gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
  --error-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

:root {
  --font-family: "Space Grotesk", sans-serif;
}

:root {
  --font-vsm: 0.625rem;
  --font-sm: 0.875rem;
  --font-md: 1.125rem;
  --font-lg: 1.5rem;
  --font-xlg: 1.688rem;
  --fonnt-xxlg: 2rem;
}/*# sourceMappingURL=styles.css.map */