@use "../utils" as u;

*,
*::before,
*::after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    font-size: var(--font-md);
}

.hide{
    display: none;
}

.form-error{
    border-color: var(--error-red);
}

footer{
    position: relative;
    @include u.breakpoint-up(large){
    top: -50px;
    padding-left: 6rem;
    }
    .attribution {
        font-size: 11px;
        text-align: center;

        @include u.breakpoint-up(large){
            text-align: right;
            padding-right: 3rem;
        }
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
}