
:root{
// Primary
--linear-gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%); //(active input border)
--error-red: hsl(0, 100%, 66%); // input errors

// Neutral
--white: hsl(0, 0%, 100%);
--light-grayish-violet: hsl(270, 3%, 87%);
--dark-grayish-violet: hsl(279, 6%, 55%);
--very-dark-violet: hsl(278, 68%, 11%);
}