@use "../utils" as u;

.section{
    display: flex;
    flex-direction: column;
    gap: 5.5rem;

    @include u.breakpoint-down(medium){
        gap: 3.5rem;
    }
    @include u.breakpoint-up(large){
        flex-direction: row;
        gap: 8rem;
    }
    @include u.breakpoint-up(xlarge){
        gap: 14rem;
    }

    &__banner{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: 14.375rem;
        padding: 1rem;
        background-image: url("../../../assets/images/bg-main-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--white);

        @include u.breakpoint-down(medium){
            height: 11.25rem;
        }

        @include u.breakpoint-up(large){
            background-image: url("../../../assets/images/bg-main-desktop.png");
            height: 100vh;
            width: 30rem;
            flex-direction: column;
        }

        &__group{
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
        }


        &__card-1{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            background-image: url("../../../assets/images/bg-card-front.png");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0.5rem 1.5rem;
            position: relative;
            height: 10rem;
            top: 0.313rem;
            left: -4.063rem;
            z-index: 1;
            letter-spacing: 0.1rem;
            box-shadow: 0rem 0.625rem 1.875rem hsla(0, 0%, 0%, 0.451);
            border-radius: .5rem;

            @include u.breakpoint-down(medium){
                width: 14.375rem;
                height: 8.375rem;
                padding: 0.5rem 1rem;
                left: 0;
            }
            @include u.breakpoint-up(large){
                top: 5.625rem;
                left: 3.75rem;
                height: 10.313rem;
                min-width: 17.5rem;
            }
            @include u.breakpoint-up(xlarge){
                top: 3.25rem;
                left: 8.438rem;
                height: 13.75rem;
                min-width: 25rem;
            }

            &__logo{
                background-image: url("../../../assets/images/card-logo.svg");
                background-repeat: no-repeat;
                background-size: 3.125rem;
                height: 2.125rem;

                @include u.breakpoint-up(large){
                    background-size: 4.375rem;
                    height: 2.688rem;
                }
            }
            &__number{
                margin-top: 1rem;
                font-size: var(--font-md);
                font-weight: 500;
                align-self: center;

                @include u.breakpoint-down(medium){
                    font-size: var(--font-sm);
                }
                @include u.breakpoint-up(xlarge){
                    font-size: var(--font-xlg);
                    margin-bottom: -1rem;
                    align-self: start;
                }
            }
            &__details{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: var(--light-grayish-violet);
                font-size: var(--font-vsm);
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        &__card-2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 1rem;
            background-image: url("../../../assets/images/bg-card-back.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 17.188rem;
            height: 9.375rem;
            padding: 3rem;
            position: relative;
            top: 4.375rem;
            left: 0.313rem;
            letter-spacing: 0.1rem;

            &__cvc{
                font-size: var(--font-vsm);
            }

            @include u.breakpoint-down(medium){
                width: 12.125rem;
                height: 6.625rem;
                max-height: 9.563rem;
                padding: 3rem 1.5rem 3rem 1rem;
                top: 2.813rem;
            }
            @include u.breakpoint-up(large){
                top: -1.563rem;
                left: 8.125rem;
            }
            @include u.breakpoint-up(xlarge){
                top: -3.313rem;
                left: 12.813rem;
                height: 13.438rem;
                width: 24.375rem;
            }
        }
    }

    // Section Content (Form)
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1.2rem;
        align-self: center;

        @include u.breakpoint-up(large){
            justify-content: left;
            width: 21.875rem;
        }

        &__form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-bottom: 2rem;

            @include u.breakpoint-up(large){
                padding: 0;
            }

            &__error{
                font-size: var(--font-sm);
                font-weight: 500;
                color: var(--error-red);
            }

            &-inputs{
                display: flex;
                flex-direction: column;
                gap: .5rem;

                label{
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: var(--font-vsm);
                    letter-spacing: 0.188rem;
                    font-weight: bold;
                }

                &-input{
                    width: 100%;
                    padding: 10px;
                    border: 2px solid var(--light-grayish-violet);
                    border-radius: .5rem;
                    outline: none;
                    font-family: var(--font-family);

                    &:focus-within{
                        background: linear-gradient(#fff, #fff) padding-box,
                        linear-gradient(45deg, var(--linear-gradient)) border-box;
                        border: 2px solid transparent;
                        border-radius: .5rem;
                    }
                    &::placeholder{
                        color: var(--light-grayish-violet);
                        font-size: var(--font-md);

                        @include u.breakpoint-down(medium){
                            font-size: var(--font-sm);
                        }
                    }
                }
            &-error{
               border-color: var(--error-red)!important;
            }

            &-row{
                display: flex;
                flex-direction: row;
                gap: .8rem;
                justify-content: space-between;

                input{
                    width: 100%;
                }

                @include u.breakpoint-down(medium){
                    flex-direction: column;
                }
            }
            &-exp{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: .5rem;
                width: 10.938rem;

                input{
                    width: 5rem;
                }
            }
            }
            button{
                font-family: var(--font-family);
                font-weight: 500;
                background-color: var(--very-dark-violet);
                padding: 0.8rem;
                color: var(--light-grayish-violet);
                border-radius: .5rem;
            }
        }


        //Thanks message
        &__thanks{
            display: flex;
            flex-direction: column;

            &__group{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 2rem;
            }

            &__title{
                font-size: var(--font-xxlg);
            }
            &__desc{
                font-size: var(--font-md);
                color: var(--dark-grayish-violet);
            }

            &__btn{
                width: 100%;
                font-family: var(--font-family);
                font-weight: 500;
                background-color: var(--very-dark-violet);
                margin-top: 1rem;
                padding: 0.8rem;
                color: var(--light-grayish-violet);
                border-radius: .5rem;
            }
        }
    }
 }